<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlgnb0t4voXb5AfFRT6U-f-H-RQ6TUg4g</string>
	<key>GCM_SENDER_ID</key>
	<string>1078050939547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studenthelp</string>
	<key>PROJECT_ID</key>
	<string>student-help-37185</string>
	<key>STORAGE_BUCKET</key>
	<string>student-help-37185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078050939547:ios:fef7cc61df42f8e56f5c3e</string>
</dict>
</plist>